$blue: #38A7FB;
$darkenBlue: #1264A3;
$brightBlue: #91CEFD;
$audioBlue: #56b4fc;
$backgroundBlue: #f0f5fa;

$gray: #afafaf;
$lightGray: #cfcfcf;
$searchGray: #F6F6F6;
$hrGray: #efefef;

$white: #fcfcfc;

$orange: #FF672B;

$green: #2AFBA2;
