@import "~styles/variables";

.chat--sidebar {
  border-right: 1px solid $hrGray;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .sidebar {
    &--header {
      height: 114px;
      padding-left: 8px;
      width: 330px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 35px;
        background-color: $blue;
        border-radius: 15px 15px 15px 0;
        margin: 14px 0 25px 0;
        p {
          color: $white;
          font-size: 16px;
        }
      }
      &--search {
        .search--input {
          width: 320px;
          height: 40px;
          background-color: $searchGray;
          border: none;
          border-radius: 5px;
          input {
            font-size: 14px;
            background-color: $searchGray;
          }
          &--prefix {
            margin-right: 5px;
            opacity: 0.4;
          }
        }
      }
    }
  }

  &--dialogs {
    height: calc(100% - 114px);
    width: 101%;
    margin: 0 auto;
    overflow: auto;
    .dialogs {
      &--item {
        padding-left: 18px;
        cursor: pointer;
        &.active,
        &:hover {
          background-color: $hoverBlue;
        }
      }
    }

    &--empty {
      width: 100%;
      p {
        text-align: center;
        font-size: 14px;
        color: $gray;
        
      }
    }
  }
}
