.chat {
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  width: 1348px;
  display: flex;
  flex-direction: row;

  &--toolbar {
    width: 70px;
    background-color: $brightBlue;
  }
  
}
